<table class="table table-bordered">
<thead>

    <tr>
        <th colspan=3 class="alert alert-secondary text-center">
                Carrito de compras
        </th>
    </tr>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
</thead>

<tbody>

    {% if user.is_authenticated%}

        {% if request.session.carro.items %}

            {% for key, value in request.session.carro.items %}

                <tr class="text-center">
                    <th>{{value.nombre}}</th>
                    <th>{{value.cantidad}}</th>
                    <th>
                        <a href="{% url 'carro:agregar' value.producto_id %} " class="btn btn-sm btn-success">+</a>

                        <a href=" {% url 'carro:restar' value.producto_id %} " class="btn btn-sm  btn-danger">-</a>
                        <br>
                        <span style="float:left">$</span> &nbsp &nbsp
                        <span style="float:right">{{value.precio}}</span>

                    </th>
                </tr>

            {% endfor %}
        {% else %}

        <tr>

            <th class="alert alert-danger text-center"  colspan="3">Carrito vacio</th>
            <br>
             {{value.precio}}
    
        </tr>
        {% endif%}

        {% else %}
            <p style="background-color:cadetblue; text-align:center; font-size: large;">Inicia sesion para comprar</p>
    {% endif %}
</tbody>

<tfoot>
    <tr>
        <td colspan="3" class="text-center">
            Total: $ {{importe_total_carro}} M.N.
        </td>
    </tr>
</tfoot>


</table>