{% extends "proyectoWebApp/padre.html" %}

{% load static %}

{% block content %}
<h1 class="text-uppercase text-expanded text-center font-weight-bold" style="padding-top:40px">Nuestro Blog</h1>

<br>
<br>

    {% for post in posts %}

        <section class="page-section clearfix">
            <div class="container">
               <a href="{% url 'Post' post.id %}">
                   <div class="intro">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}">
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="margin: 10px auto">
                            <h2 class="section-heading mb-4" >
                                <span class="section-heading-lower" style="font-size:24px;">{{post.titulo}}</span>
                                
                            </h2>
                            <!--<p class="mb-3">{{post.contenido}}</p> -->
                            <div>
                                <p>Autor: {{post.autor}}</p>
                                <p>{{post.updated}}</p>
                            </div>
                        
                        
                        </div>
                    </div>
                </a> 
            </div>
        </section>
    {% endfor %}

    <section>
        <div style="width: 75%; margin: auto; text-align: center; color: #151E26; padding-bottom: 20px;">
            <p>Categorias: </p>
            {% for post in posts %}
                {% for categoria in post.categorias.all %}
                
                <a href="{% url 'Categoria' categoria.id %}"> {{categoria.nombre}}</a> | 

                {% endfor %}
                
                
            {% endfor %}
            <a href="{% url 'Blog' %}">Todas</a>

        </div>
    </section>
{% endblock %}