{% extends "proyectoWebApp/padre.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-uppercase text-expanded text-center font-weight-bold" style="padding:40px 0px">Política de cookies</h1>
    <em>Última actualización: 12 de abril de 2022</em>
    <br> <br>
    <p>Esta Política de Cookies explica qué son las Cookies y cómo las usamos. Debe leer esta política para que pueda comprender qué tipo de cookies utilizamos, o la información que recopilamos mediante las cookies y cómo se utiliza esa información.</p>

    <p>Las cookies normalmente no contienen ninguna información que identifique personalmente a un usuario, pero la información personal que almacenamos sobre usted puede estar vinculada a la información almacenada y obtenida de las cookies. Para obtener más información sobre cómo usamos, almacenamos y mantenemos seguros sus datos personales, consulte nuestra Política de privacidad.</p>

    <p>No almacenamos información personal confidencial, como direcciones postales, contraseñas de cuentas, etc. en las cookies que utilizamos.</p>

    <h2>El uso de las Cookies</h2>

    <br>

    <p>Las cookies pueden ser cookies "persistentes" o de "sesión". Las cookies persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las cookies de sesión se eliminan tan pronto como cierra su navegador web.
    </p>

    <p>Utilizamos cookies de sesión y persistentes para los fines que se describen a continuación:</p>

    <h4>
        <li> Cookies necesarias/esenciales</li>
    </h4>
    <br>

    <ul> Tipo: Cookies de sesión </ul>

    <ul>Administrado por: Nosotros</ul>

    <ul>Propósito: estas cookies son esenciales para brindarle los servicios disponibles a través del sitio web y permitirle usar algunas de sus funciones. Ayudan a autenticar a los usuarios y previenen el uso fraudulento de cuentas de usuario. Sin estas Cookies, no se pueden proporcionar los servicios que ha solicitado, y solo utilizamos estas Cookies para proporcionarle esos servicios.</ul>
    <br>
    <h4>
        <li>Cookies de funcionalidad</li>
    </h4>

    <br>
    <ul>Tipo: Cookies persistentes</ul>
    <ul>Administrado por: Nosotros</ul>
    <ul style="padding-bottom: 40px ">Propósito: estas cookies nos permiten recordar las elecciones que hace cuando usa el sitio web, como recordar sus datos de inicio de sesión o su preferencia de idioma. El propósito de estas Cookies es brindarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que usa el sitio web.</ul>

</div>
{% endblock %}