{% extends "proyectoWebApp/padre.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-uppercase text-expanded text-center font-weight-bold" style="padding:40px 0px">AVISO LEGAL Y CONDICIONES GENERALES DE USO</h1>
    <em>Última actualización: 12 de abril de 2022</em>
    <br> <br>

    <h2>I. INFORMACIÓN GENERAL</h2>
    <p>En cumplimiento con el deber de información dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y el Comercio Electrónico (LSSI-CE) de 11 de julio, se facilitan a continuación los siguientes datos de información general de este sitio web:</p>

    <p>La titularidad de este sitio web, www.gestionpedidos.com, (en adelante, Sitio Web) la ostenta: Luis Daniel Colorado Camal, con NIF: 123456789, y cuyos datos de contacto son:</p>

    <p>Dirección: Colima Mexico</p>
    <p>Teléfono de contacto: 313123456789</p>
    <p>Email de contacto: contacto@gestionpedidos.com</p>

    <h2>II. TÉRMINOS Y CONDICIONES GENERALES DE USO</h2>

    <h4>El objeto de las condiciones: El Sitio Web</h4>

    <p>El objeto de las presentes Condiciones Generales de Uso (en adelante, Condiciones) es regular el acceso y
    la utilización del Sitio Web. A los efectos de las presentes Condiciones se entenderá como Sitio Web: la
    apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es
    decir, el árbol de navegación; y todos los elementos integrados tanto en los interfaces de pantalla como en
    el árbol de navegación (en adelante, Contenidos) y todos aquellos servicios o recursos en línea que en su
    caso ofrezca a los Usuarios (en adelante, Servicios).</p>

    <p>Gestion de pedidos se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la
    presentación y configuración del Sitio Web y de los Contenidos y Servicios que en él pudieran estar
    incorporados. El Usuario reconoce y acepta que en cualquier momento Gestion de pedidos pueda
    interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en el Sitio Web o el
    acceso a los mismos.</p>

    <p>El acceso al Sitio Web por el Usuario tiene carácter libre y, por regla general, es gratuito sin que el Usuario
    tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo relativo al coste de
    conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso que hubiere
    contratado el Usuario.</p>

    <p>La utilización de alguno de los Contenidos o Servicios del Sitio Web podrá hacerse mediante la suscripción
    o registro previo del Usuario.</p>
    
    <br>

    <h4 style="padding-bottom: 40px ">Mucho texto hasta aqui mejor :D</h4>

</div>

{% endblock %}