{% extends "proyectoWebApp/padre.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-uppercase text-expanded text-center font-weight-bold" style="padding:40px 0px">Política de privacidad</h1>
    <em>Última actualización: 12 de abril de 2022</em>
    <br> <br>
    <p>Esta Política de privacidad describe Nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de Su información cuando utiliza el Servicio y le informa sobre Sus derechos de privacidad y cómo la ley lo protege.</p>

    <p>Usamos sus datos personales para proporcionar y mejorar el Servicio. Al usar el Servicio, acepta la recopilación y el uso de información de acuerdo con esta Política de privacidad.</p>

    <h2>Recopilación y uso de sus datos personales</h2>
    <br>
    <h3>Tipos de datos recopilados</h3>
    <br>
    <h5>Información personal</h5>

    <p>Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:
    </p>

    <ul>
        <li>Dirección de correo electrónico</li>
        <li>Nombre y apellido</li>
        <li>Número de teléfono</li>
        <li>Dirección, estado, código postal, ciudad</li>
        <li>Datos de uso</li>
    </ul>
    

    <h5>Uso de datos</h5>

    <p>Los Datos de uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
    
    <p>Los datos de uso pueden incluir información como la dirección del protocolo de Internet de su dispositivo (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas, dispositivo único identificadores y otros datos de diagnóstico.</p>

    <p>Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, que incluye, entre otros, el tipo de dispositivo móvil que utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>

    <p style="padding-bottom: 40px ">También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>


</div>


{% endblock %}